assignments\week_06\mooreslaw_solution.ipynb
assignments/week_06/mooreslaw_results.csv
assignments/week_06/mooreslaw_results.npy
assignments/week_06/mooreslaw_solution.ipynb
assignments/week_06/data_scraper.py
examples.ipynb
assignments/week_07/coordinate_transform_solution.ipynb
assignments/week_08/integration_solutions.py
assignments/week_08/optimization_solutions.py
assignments/week_08/integration_gradients_solutions.ipynb
assignments/week_08/__pycache__/integration_solutions.cpython-312.pyc
assignments/week_08/__pycache__/optimization_solutions.cpython-312.pyc
assignments/week_06/moores_law_combined.pdf
assignments/week_06/moores_law_plot
assignments/week_06/moores_law_plot.pdf
assignments/week_09/odes_pdes_solutions.ipynb
assignments/week_11/random_monte_carlo_solutions.ipynb
